body {
  background-color: #000;
}

footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
}

.background {
  height: calc(100vh - 250px);
  background-image: url('assets/baywatch_bg.png');
  background-size: cover;
}

.well {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}
